#login {
    background-color: rgb(7, 101, 255);
    color:white;
    text-align: center;
    background-color: white;

}

#section {
    background-color: rgb(241, 244, 247)

}

#logo {
    color:#606770;
    font-family:SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size:15px;
    line-height:24px;
    margin-bottom:12px;
}
