#login {
    background-color: rgb(7, 101, 255);
    color:white;
    text-align: center;

}

#logo {
    color:#606770;
    font-family:SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size:15px;
    line-height:24px;
    margin-bottom:12px;
    border: solid 2px yellow
}

#boxxy {
    width: 200px;
    height: 100px;
    border: solid 2px black;
    justify-content: center;
}