p {
    color:rgb(11, 243, 243) !important;
}

.primero {
    color:blue;

}

.segundo {
    color:blueviolet;

}

h1 {
    color:black;

}

#button1 {
    color: black;
    background-color: chocolate;
}

#button2 {
    color:black;

}


h1 {
    color:black;

}

#button3 {
    color:black
}

#button4 {
    color:black

}